/* #map {
  left: 28%;
        top: 0;
        bottom: 0;
        width: 75%;
}*/

.map-overlay fieldset {
  display: none;
  border: none;
  padding: 0px;
  margin: 0;
}

.map-overlay input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.map-overlay .listing {
  max-height: 100%;
}

.map-overlay .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
}

.map-overlay .listing a {
  border-bottom: 3px solid rgba(236, 236, 236, 0.597);
  text-decoration: none;
}

.map-overlay .listing a:last-child {
  border: none;
}

.map-overlay .listing a:hover {
  background: #00548c60;
  text-decoration-color: #ddd;
}

.prelisting {
  overflow: scroll;
}

h1 {
  color: white;
}

h4 {
  color: white;
  opacity: 70%;
}
.white {
  -webkit-text-fill-color: #ddd;
}

.filter-group {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
  width: 120px;
  color: #fff;
}

.filter-group input[type="checkbox"]:first-child + label {
  border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.filter-group input[type="checkbox"] {
  display: none;
}

.filter-group input[type="checkbox"] + label {
  background-color: #3386c0;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type="checkbox"] + label {
  background-color: #3386c0;
  text-transform: capitalize;
}

.filter-group input[type="checkbox"] + label:hover,
.filter-group input[type="checkbox"]:checked + label {
  background-color: #4ea0da;
}

.filter-group input[type="checkbox"]:checked + label:before {
  content: "✔";
  margin-right: 5px;
}

.bold-listing-title-mil {
  margin-top: 0.9em;
  font-family: URW DIN, sans-serif;
  text-transform: uppercase;
  color: #d42a21;
  font-size: 20px;
  line-height: 1.1;
  text-align: left;
}
.bold-listing-title-idf {
  margin-top: 0.9em;
  font-family: URW DIN, sans-serif;
  text-transform: uppercase;
  color: #3639f1;
  font-size: 20px;
  line-height: 1.1;
  text-align: left;
}
#menu {
  z-index: 1;
}

#menu a {
  font-size: 13px;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #b0b0b2;
  text-align: center;
}

/* #menu a:last-child {
} */

#menu a:hover {
  background-color: #162131;
  color: #ffff;
}

#menu a.active {
  background-color: #162131;
  color: #ffffff;
}

#menu a.active:hover {
  background: #b0b0b2;
}
